@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Figtree', sans-serif;
}

/* remover margens padrão e ajustar comportamento de scroll */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Permitir scroll vertical quando necessário */
#root {
  overflow-y: auto;
}
